* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

.cont {
  max-width: 1050px;
  margin: 0 auto;
}

@media (max-width: 1115px) {
  .cont {
    padding: 0 15px;
  }
}

.btn-arrow_green {
  fill: #96BB7C;
}

.btn-arrow_white {
  fill: #fff;
}

h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: .2px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: .2px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: .2px;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .2px;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .2px;
}

h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
}

a {
  text-decoration: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 16px 0px;
  z-index: 100;
}

.header__screen {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  width: 100%;
  margin-top: 110px;
  margin-bottom: 126px;
}

@media (max-width: 920px) {
  .header__screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .header__screen {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.header__screen-photo {
  position: relative;
}

@media (max-width: 920px) {
  .header__screen-photo {
    margin-top: 40px;
    order: 1;
  }
}

.header__main-photo {
  position: absolute;
  right: -90px;
  top: -130px;
  z-index: 5;
}

@media (max-width: 1040px) {
  .header__main-photo {
    height: 400px;
    right: 0;
    top: 0;
  }
}

@media (max-width: 920px) {
  .header__main-photo {
    position: static;
  }
}

@media (max-width: 416px) {
  .header__main-photo {
    height: 350px;
  }
}

@media (max-width: 360px) {
  .header__main-photo {
    height: 300px;
  }
}

.header__vector {
  position: absolute;
  top: 30px;
  right: -90px;
  z-index: 4;
}

@media (max-width: 1040px) {
  .header__vector {
    height: 250px;
    right: -120px;
    top: 100px;
  }
}

@media (max-width: 892px) {
  .header__vector {
    z-index: -2;
  }
}

.header__circle {
  position: absolute;
  top: 61px;
  right: 436px;
  z-index: 4;
}

@media (max-width: 1040px) {
  .header__circle {
    height: 30px;
    right: 300px;
    top: 100px;
  }
}

@media (max-width: 892px) {
  .header__circle {
    z-index: -2;
  }
}

.header__fill-vector {
  position: absolute;
  top: 78px;
  right: -22px;
  z-index: 3;
}

@media (max-width: 1040px) {
  .header__fill-vector {
    height: 200px;
    top: 165px;
    right: 69px;
  }
}

@media (max-width: 892px) {
  .header__fill-vector {
    z-index: -3;
  }
}

.header__rect {
  position: absolute;
  top: -85px;
  right: -76px;
  z-index: 2;
}

@media (max-width: 1040px) {
  .header__rect {
    top: 0px;
    right: -76px;
    height: 400px;
  }
}

@media (max-width: 892px) {
  .header__rect {
    z-index: -4;
  }
}

.header__main-text {
  margin-bottom: 56px;
}

@media (max-width: 400px) {
  .header__main-text {
    margin-bottom: 30px;
  }
}

.header__above-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #96BB7C;
  margin-bottom: 15px;
}

.header__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: .2px;
  color: #252B42;
  margin-bottom: 15px;
  max-width: 542px;
}

@media (max-width: 600px) {
  .header__title {
    font-size: 36px;
    line-height: 40px;
  }
}

.header__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .2px;
  color: #737373;
  max-width: 500px;
}

.header__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: fit-content;
}

@media (max-width: 400px) {
  .header__btns {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 100%;
  }
}

.header__get-quote {
  cursor: pointer;
  background-color: #96BB7C;
  color: #fff;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .2px;
  margin-right: 10px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.header__get-quote:hover {
  background-color: #87A871;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}

.header__get-quote:focus {
  background-color: #87A871;
}

@media (max-width: 400px) {
  .header__get-quote {
    padding: 15px 30px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.header__more {
  cursor: pointer;
  background-color: #fff;
  color: #96BB7C;
  padding: 15px 40px;
  border: 1px solid #96BB7C;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .2px;
  transition: transform .3s ease;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  -o-transition: transform .3s ease;
}

.header__more:hover {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}

.header__more:focus {
  background-color: #f3f3f3;
}

@media (max-width: 600px) {
  .header__more {
    padding: 15px 30px;
  }
}

.header__cards-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  gap: 30px;
}

@media (max-width: 768px) {
  .header__cards-list {
    grid-template-columns: repeat(1, minmax(220px, 500px));
    justify-content: center;
  }
}

@media (max-width: 546px) {
  .header__cards-list {
    grid-template-columns: repeat(1, minmax(220px, 500px));
    justify-content: center;
  }
}

.nav__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

@media (max-width: 826px) {
  .nav__list {
    display: none;
  }
}

.nav__item {
  position: relative;
}

.nav__item:hover > * {
  color: #96BB7C;
}

.nav__item::before {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -9px;
  background-color: #96BB7C;
  height: 2px;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.nav__item:hover::before {
  opacity: 1;
  bottom: -5px;
}

.nav__item:not(:last-child) {
  margin-right: 25px;
}

.nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #737373;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.nav__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 480px) {
  .nav__btns {
    display: none;
  }
}

.nav__login {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .2px;
  margin-right: 45px;
  color: #96BB7C;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: color .3s ease;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -ms-transition: color .3s ease;
  -o-transition: color .3s ease;
}

.nav__login:hover {
  color: #87A871;
}

.nav__login:focus {
  color: #87A871;
}

.nav__join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .2px;
  cursor: pointer;
  color: #fff;
  background-color: #96BB7C;
  padding: 15px 52px 13px 25px;
  position: relative;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
}

.nav__join-us:hover {
  background-color: #87A871;
}

.nav__join-us:focus {
  background-color: #87A871;
}

.nav__join-us:hover svg {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
}

.nav__join-us-arrow {
  position: absolute;
  right: 25px;
  top: 20px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.nav__burger-menu {
  display: block;
}

.card {
  z-index: 50;
  background-color: #fff;
  padding: 35px 45px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

@media (max-width: 992px) {
  .card {
    padding: 20px 30px;
  }
}

@media (max-width: 546px) {
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 426px) {
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

.card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.card__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.card__icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 72px;
  min-height: 72px;
  background-color: #E74040;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

.card__icon-hat {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: .2px;
  color: #252B42;
  position: relative;
  margin-bottom: 40px !important;
}

.card__title::after {
  content: '';
  height: 2px;
  width: 50px;
  background-color: #E74040;
  position: absolute;
  bottom: -18px;
  left: 0;
}

.card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #737373;
}

.stat {
  margin-top: 80px;
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 238px));
  gap: 30px;
}

@media (max-width: 840px) {
  .stat {
    grid-template-columns: repeat(2, minmax(160px, 1fr));
  }
}

@media (max-width: 426px) {
  .stat {
    grid-template-columns: repeat(1, minmax(160px, 1fr));
    gap: 50px;
    padding: 50px 0;
    margin-top: 50px;
  }
}

.stat__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stat__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: .2px;
  color: #96BB7C;
  text-align: center;
}

.stat__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #252B42;
  text-align: center;
}

.client {
  margin-top: 80px;
  padding: 80px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media (max-width: 620px) {
  .client {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

@media (max-width: 426px) {
  .client {
    padding: 50px 15px;
    margin-top: 50px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: .2px;
  color: #252B42;
  margin-bottom: 42px;
  position: relative;
}

.client__title::after {
  content: '';
  height: 2px;
  width: 70px;
  background-color: #E74040;
  bottom: -18px;
  left: 0;
  position: absolute;
}

.client__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #737373;
  margin-bottom: 35px;
  max-width: 375px;
}

.client__btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #96BB7C;
  max-width: fit-content;
}

.client__btn-more:hover svg {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
}

.client__btn-arrow {
  fill: #96BB7C;
  margin-left: 10px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.client__photo-block {
  user-select: none;
  pointer-events: none;
  transform: translateY(-92px);
  -webkit-transform: translateY(-92px);
  -moz-transform: translateY(-92px);
  -ms-transform: translateY(-92px);
  -o-transform: translateY(-92px);
}

@media (max-width: 992px) {
  .client__photo-block {
    height: 250px;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

.teachers {
  margin-top: 80px;
  padding: 80px 15px;
  background-color: #FFF9F9;
}

@media (max-width: 426px) {
  .teachers {
    padding: 50px 15px;
    margin-top: 50px;
  }
}

.teachers__header {
  margin-bottom: 60px;
}

.teachers__header > *:not(:last-child) {
  margin-bottom: 10px;
}

.teachers__above-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #96BB7C;
}

.teachers__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: .2px;
  color: #252B42;
}

.teachers__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #737373;
  max-width: 463px;
}

.teachers__cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

@media (max-width: 640px) {
  .teachers__cards-list {
    grid-template-columns: minmax(250px, 1fr);
  }
}

@media (max-width: 816px) {
  .teachers__cards-list > *:nth-child(3) {
    grid-column: 1/3;
    max-width: 300px;
    justify-self: center;
  }
}

@media (max-width: 640px) {
  .teachers__cards-list > *:nth-child(3) {
    grid-column: auto;
    max-width: 100%;
    justify-self: auto;
  }
}

.teachers__card {
  background-color: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.teachers__card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.teachers__card:nth-child(1) .teachers__card-header {
  background-image: url(../../img/teachers/teacher-1.jpg);
}

.teachers__card:nth-child(2) .teachers__card-header {
  background-image: url(../../img/teachers/teacher-2.jpg);
}

.teachers__card:nth-child(3) .teachers__card-header {
  background-image: url(../../img/teachers/teacher-3.jpg);
}

.teachers__card .teachers__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 12px 24px 12px;
  height: 300px;
}

@media (max-width: 907px) {
  .teachers__card .teachers__card-header {
    height: 200px;
  }
}

.teachers__card-top, .teachers__card-bottom {
  width: 100%;
}

.teachers__card-tag {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  background-color: #E74040;
  color: #fff;
  max-width: fit-content;
  padding: 0 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.teachers__card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.teachers__card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.teachers__card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  background-color: #fff;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.teachers__card-btn:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  box-shadow: 0px 18px 7px rgba(255, 255, 255, 0.05), 0px 10px 6px rgba(255, 255, 255, 0.06), 0px 5px 5px rgba(255, 255, 255, 0.05), 0px 1px 2px rgba(255, 255, 255, 0.05), 0px 0px 0px rgba(255, 255, 255, 0.05);
}

.teachers__card-body {
  padding: 25px 25px 35px 25px;
}

.teachers__card-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.teachers__card-stat {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #96BB7C;
}

.teachers__card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #2D4059;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  max-width: 50px;
  padding: 5px;
}

.teachers__card-rating-num {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .2px;
  color: #fff;
}

.teachers__card-star {
  margin-right: 5px;
}

.teachers__card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #252B42;
  margin-bottom: 10px;
}

.teachers__card-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #737373;
  margin-bottom: 20px;
}

.teachers__card-sales {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  max-width: fit-content;
}

.teachers__card-sales-num {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #737373;
  margin-left: 10px;
}

.teachers__card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  max-width: fit-content;
}

.teachers__card-price-now, .teachers__card-price-old {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .2px;
}

.teachers__card-price-now {
  color: #FFAB71;
  margin-right: 10px;
}

.teachers__card-price-old {
  color: rgba(189, 189, 189, 0.5);
  text-decoration: line-through;
}

.teachers__card-btn-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #96BB7C;
  padding: 10px 20px;
  border: 1px solid #96BB7C;
  background-color: #fff;
  border-radius: 37px;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  -ms-border-radius: 37px;
  -o-border-radius: 37px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.teachers__card-btn-more:hover > svg {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
}

.teachers__card-arrow {
  fill: #96BB7C;
  margin-left: 10px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.reviews {
  margin-top: 80px;
  padding: 80px 15px;
}

@media (max-width: 426px) {
  .reviews {
    padding: 50px 15px;
    margin-top: 50px;
  }
}

.reviews__header {
  margin-bottom: 60px;
}

.reviews__header > *:not(:last-child) {
  margin-bottom: 10px;
}

.reviews__above-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #96BB7C;
}

.reviews__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: .2px;
  color: #252B42;
}

.reviews__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #737373;
  max-width: 463px;
}

.reviews__cards-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  gap: 10px;
}

@media (max-width: 992px) {
  .reviews__cards-list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 620px) {
  .reviews__cards-list {
    grid-template-columns: minmax(200px, 1fr);
  }
}

.reviews__cards-list > *:not(:last-child)::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0%;
  left: 0;
  background-color: #F3F3F3;
}

@media (max-width: 992px) {
  .reviews__cards-list > *:nth-child(3) {
    grid-column: 1/3;
  }
}

@media (max-width: 620px) {
  .reviews__cards-list > *:nth-child(3) {
    grid-column: auto;
  }
}

.reviews__card {
  position: relative;
  padding: 25px 15px;
  background-color: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.reviews__card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.reviews__card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.reviews__card-rating {
  max-width: fit-content;
  margin-bottom: 15px;
}

.reviews__card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #737373;
  max-width: 245px;
  text-align: center;
}

.reviews__author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.reviews__author-photo {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-right: 15px;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #96BB7C;
}

.reviews__author-work {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .2px;
  color: #252B42;
}

.courses {
  margin-top: 80px;
  padding: 80px 15px;
}

@media (max-width: 426px) {
  .courses {
    padding: 50px 15px;
    margin-top: 50px;
  }
}

.courses__header {
  margin-bottom: 60px;
}

.courses__header > *:not(:last-child) {
  margin-bottom: 10px;
}

.courses__above-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #96BB7C;
}

.courses__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: .2px;
  color: #252B42;
}

.courses__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  color: #737373;
  max-width: 463px;
}

.courses__cards-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(175px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}

@media (max-width: 836px) {
  .courses__cards-list {
    grid-template-columns: repeat(2, minmax(175px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 426px) {
  .courses__cards-list {
    gap: 10px;
    grid-template-columns: repeat(1, minmax(175px, 1fr));
  }
}

.courses__card {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.courses__card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.courses__card-img {
  height: 100%;
  width: 100%;
}

.courses__body {
  padding: 30px;
}

.courses__person {
  margin-bottom: 15px;
}

.courses__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .2px;
  color: #252B42;
  margin-bottom: 5px;
  text-align: center;
}

.courses__work {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .2px;
  color: #737373;
  text-align: center;
}

.courses__media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.courses__media-item {
  cursor: pointer;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.courses__media-item:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
/*# sourceMappingURL=style.css.map */