.header {
    height: 95vh;
    &__nav {
        @include flex(space-between, center, row);
        margin: 16px 0px;
        z-index: 100;
    }
    &__screen {
        width: 100%;
        margin-top: 110px;
        margin-bottom: 126px;
        position: relative;
    }
    &__screen-photo {
        @media (max-width: 892px) {
            opacity: .3;
        }
        @media (max-width: 520px) {
            display: none;
        }
    }
    &__main-photo,
    &__vector,
    &__circle,
    &__fill-vector,
    &__rect {
        user-select: none;
        pointer-events: none;
    }
    &__main-photo {
        position: absolute;
        right: -90px;
        top: -130px;
        z-index: 5;
        @media (max-width: 1040px) {
            height: 400px;
            right: 0;
            top: 0;
        }
        @media (max-width: 892px) {
            z-index: -1;
        }
    }
    &__vector {
        position: absolute;
        top: 30px;
        right: -90px;
        z-index: 4;
        @media (max-width: 1040px) {
            height: 250px;
            right: -120px;
            top: 100px;
        }
        @media (max-width: 892px) {
            z-index: -2;
        }
    }
    &__circle {
        position: absolute;
        top: 61px;
        right: 436px;
        z-index: 4;
        @media (max-width: 1040px) {
            height: 30px;
            right: 300px;
            top: 100px;
        }
        @media (max-width: 892px) {
            z-index: -2;
        }
    }
    &__fill-vector {
        position: absolute;
        top: 78px;
        right: -22px;
        z-index: 3;
        @media (max-width: 1040px) {
            height: 200px;
            top: 165px;
            right: 69px;
        }
        @media (max-width: 892px) {
            z-index: -3;
        }
    }
    &__rect {
        position: absolute;
        top: -85px;
        right: -76px;
        z-index: 2;
        @media (max-width: 1040px) {
            top: 0px;
            right: -76px;
            height: 400px;
        }
        @media (max-width: 892px) {
            z-index: -4;
        }
    }
    &__main-text {
        margin-bottom: 56px;
    }
    &__above-title {
        @include text-h5;
        color: $c-primary;
        margin-bottom: 15px;
    }
    &__title {
        @include text-h1;
        color: $c-text;
        margin-bottom: 15px;
        max-width: 542px;
        @media (max-width: 600px) {
            font-size: 36px;
            line-height: 40px;
        }
    }
    &__descr {
        @include text-h4;
        color: $c-second-text;
        max-width: 500px;
    }
    &__btns {
        @include flex(center, center, row);
        max-width: fit-content;
        @media (max-width: 400px) {
            display: grid;
            grid-template-columns: 1fr;
            min-width: 100%;

        }
    }
    &__get-quote {
        @include main-btn(15px,40px);
        @include text-btn;
        margin-right: 10px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        &:hover {
            background-color: $c-primary-hover;
            transform: translateY(2px);
            -webkit-transform: translateY(2px);
            -moz-transform: translateY(2px);
            -ms-transform: translateY(2px);
            -o-transform: translateY(2px);
        }
        &:focus {
            background-color: $c-primary-hover;
        }
        @media (max-width: 600px) {
            padding: 15px 30px;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
    &__more {
        @include secondary-btn(15px,40px);
        @include text-btn;
        transition: transform .3s ease;
        -webkit-transition: transform .3s ease;
        -moz-transition: transform .3s ease;
        -ms-transition: transform .3s ease;
        -o-transition: transform .3s ease;
        &:hover {
            transform: translateY(2px);
            -webkit-transform: translateY(2px);
            -moz-transform: translateY(2px);
            -ms-transform: translateY(2px);
            -o-transform: translateY(2px);
        }
        &:focus {
            background-color: rgb(243, 243, 243);
        }
        @media (max-width: 600px) {
            padding: 15px 30px;
        }
    }
    &__cards-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(220px, 1fr));
        gap: 30px;
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, minmax(220px, 500px));
            justify-content: center;
        }
        @media (max-width: 546px) {
            grid-template-columns: repeat(1, minmax(220px, 500px));
            justify-content: center;
        }
    }
}
.nav {
    &__logo {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: $c-text;
    }
    &__list {
        @include flex(center, center, row);
        list-style-type: none;
        @media (max-width: 826px) {
            display: none;
        }
    }
    &__item {
        position: relative;
        &:hover > * {
            color: $c-primary;
        }
        &::before {
            content: '';
            width: 100%;
            position: absolute;
            bottom: -9px;
            background-color: $c-primary;
            height: 2px;
            opacity: 0;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
        }
        &:hover::before {
            opacity: 1;
            bottom: -5px;
        }
        &:not(:last-child) {
            margin-right: 25px;
        }
}
    &__link {
        @include text-link;
        color: $c-second-text;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    &__btns {
        @include flex(center, center, row);
        @media (max-width: 480px) {
            display: none;
        }
    }
    &__login {
        @include text-btn;
        margin-right: 45px;
        color: $c-primary;
        background-color: $c-bg-light;
        border: none;
        cursor: pointer;
        transition: color .3s ease;
        -webkit-transition: color .3s ease;
        -moz-transition: color .3s ease;
        -ms-transition: color .3s ease;
        -o-transition: color .3s ease;
        &:hover {
            color: $c-primary-hover;
        }
        &:focus {
            color: $c-primary-hover;
        }
    }
    &__join-us {
        @include text-btn;
        cursor: pointer;
        color: $c-text-light;
        background-color: $c-primary;
        padding: 15px 52px 13px 25px;
        position: relative;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: none;
        &:hover {
            background-color: $c-primary-hover;
        }
        &:focus {
            background-color: $c-primary-hover;
        }
        &:hover svg {
            transform: translateX(3px);
            -webkit-transform: translateX(3px);
            -moz-transform: translateX(3px);
            -ms-transform: translateX(3px);
            -o-transform: translateX(3px);
        }
    }
    &__join-us-arrow {
        position: absolute;
        right: 25px;
        top: 20px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    &__burger-menu {
        display: block;
    }
}
.card {
    z-index: 50;
    background-color: $c-bg-light;
    padding: 35px 45px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    @media (max-width: 992px) {
        padding: 20px 30px;
    }
    &:hover {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
    &__header {
        @include flex(flex-start, center, row);
        width: 100%;
        margin-bottom: 20px;
    }
    &__icon-circle {
        @include flex(center, center, row);
        min-width: 72px;
        min-height: 72px;
        background-color: $c-danger;
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        -o-border-radius: 60px;
    }
    &__icon-hat {
        transform: translateY(2px);
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
        -o-transform: translateY(2px);
    }
    &__title {
        @include text-h3;
        color: $c-text;
        position: relative;
        margin-bottom: 40px !important;
        &::after {
            content: '';
            height: 2px;
            width: 50px;
            background-color: $c-danger;
            position: absolute;
            bottom: -18px;
            left: 0;
        }
    }
    &__text {
        @include text-p;
        color: $c-second-text
    }
}